<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Buat Password Baru</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row>
    <ion-col class="ion-text-center">
      <img src="./assets/icon/logo.svg" width="40%">
    </ion-col>
  </ion-row>


  <div id="content">

    <ion-text color="medium">
      <p>Password</p>
    </ion-text>
    <ion-item class="input">
      <ion-input type="{{type}}" [(ngModel)]="user.password" required #password="ngModel" (ngModelChange)="checkMatch()" placeholder="Enter your password"></ion-input>
      <ion-icon name="{{type == 'password' ? 'eye-outline':'eye-off-outline'}}" (click)="show()" slot="end" color="medium"></ion-icon>
    </ion-item>
    <p *ngIf="submited == true && password.invalid" style="color: red;">Password can not be empty</p>

    <ion-text color="medium">
      <p>Ulangi Password</p>
    </ion-text>
    <ion-item class="input">
      <ion-input type="{{type}}" [(ngModel)]="user.password2" required #password2="ngModel" (ngModelChange)="checkMatch()" placeholder="Re - Enter your password"></ion-input>
      <ion-icon name="{{type == 'password' ? 'eye-outline':'eye-off-outline'}}" (click)="show()" slot="end" color="medium"></ion-icon>
    </ion-item>
    <p *ngIf="match == false" style="color: red;">Confirmation New Password not match!</p>
    <p *ngIf="submited == true && password2.invalid" style="color: red;">Password can not be empty</p>

    <ion-button color="primary" class="custom-button" [disabled]="loading" (click)="reset()">
      {{loading ? 'Mohon Tunggu...':'Reset'}}
    </ion-button>
  </div>


</ion-content>
