<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="full" class="ion-padding">
        <ion-icon color="primary" slot="end" name="close-circle-outline" (click)="dismiss()"></ion-icon>
        <ion-label>
          <ion-text color="primary">
            <h2>Semua Menu</h2>
          </ion-text>
        </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="ion-text-center mb-16" *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">
        <img src="./assets/icon/wrapper.svg"/>
        <p class="fs-10" style="margin-top: -1px;">Profil</p>
        <ion-chip color="danger" style="margin-top: -140px;">
          <ion-label class="fs-10">Segera</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
